/* app.css*/
/*
#84bd00 green 
#002F6C blue
*/

@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: local('Montserrat Italic'), local('Montserrat-Italic'), url(//fonts.gstatic.com/s/montserrat/v14/JTUQjIg1_i6t8kCHKm459WxRyS7j.ttf) format('truetype');
}
@font-face {font-display: swap;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'), url(//fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZcgvz_PZ1.ttf) format('truetype');
}
@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(//fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(//fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3gnD-w.ttf) format('truetype');
}
@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url(//fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gnD-w.ttf) format('truetype');
}

body{
    font-family: 'Montserrat';
    color: #414141;
    font-size: 14px;
}

a{
    color: #84BD00;  
}
a:hover{
    color: #0082BA;
    color: #00B5E2;
    text-decoration: none;
}

h1, h2, h3{
    font-weight: 700;
}

.textBlue {
    color: #002F6C;
}
.textGreen {
    color: #84BD00;
}
.textWhite {
    color: #ffffff;
}
.bgBlue{
    background: #002F6C;
    color: #ffffff;
}

.bgBlue_1{
    background: #00B5E2;
}
.bgBlue_2{
    background: #0082BA;
}

.bgBlue hr{
    border-top: 1px solid #ffffff;
}
.bgGray{
    background: #E4E4E4;
}
.bgWhite{
    background: #fff;
}
.shadowBox{
    box-shadow: 0px 0px 20px rgba(0,0,0,.2);
}
.block{
    display: block;
}

.ps-15{
    padding: 0px 15%;
}

.btn-success,  #navbarNav .btn-success{
    color: #ffffff !important;
    background: #84BD00;
    border: none;
    border-radius: 2px;
    padding: 13px 29px;
}
.btn-success:hover {
    color: #ffffff !important;
    background: #00B5E2;
    border: none;
    border-radius: 2px;
    padding: 13px 29px;
}

.btn-blue{
    color: #ffffff !important;
    background: #002F6C;
    border: none;
    border-radius: 2px;
    padding: 13px 15px;
    width: 33%;
}

#navbarNav .nav-item{
    margin: 0px 15px;
    color: #414141;
}
#navbarNav .nav-item a.nav-link{
    color: #414141;
}

#navbarNav .nav-item a.nav-link:hover{
    color: #84BD00;
}

a.textBlue{
    font-weight: normal;
    font-size: 16px;
}
a.textBlue:hover {
    font-weight: normal;
    text-decoration: none;
    color: #84BD00;
}

a.btn-secondary {
    color: #ffffff !important;
    background: #C6C6C6;
    border: none;
    border-radius: 2px;
    padding: 13px 29px;
    font-weight: 700;
}

.align-right{
    text-align: right;
}
.align-center{
    text-align: center;
}
.fusion-countdown{
    background-color: #002F6C;
    color: #ffffff;
}
.bold{
    font-weight: 700;
}

.fusion-countdown .fusion-countdown-subheading {
    font-size: 13px;
    letter-spacing: 1px;
}

.fusion-countdown-heading > h4 > span > span{
    min-width: 3.5rem;
    display: inline-block;
}

.fusion-countdown .col-md-8{
    padding-top: 8px;
}


#home_video{
    max-width: 60rem;
}
#home-video{
    background-color:#002f6c;
    background: url('./../img/celebration-audience-background-opt.jpg');
    background-size: contain;
    text-align-last: center;

}

#home-video iframe{
    border: none;
    background: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0), rgba(0,0,0,0));
    min-height: 30rem;
    /*width:960px;*/
    width:100%;
    /*height: 540px;*/
}
.fusion-countdown-1{background-color:#002f6c}
.fusion-countdown-1 .fusion-countdown-heading{color:#fff}
.fusion-countdown-1 .fusion-countdown-subheading{color:#fff}
.fusion-countdown-1 .fusion-countdown-counter-wrapper{color:#fff}
.fusion-countdown-1 .fusion-dash{background-color:#002f6c}
.fusion-countdown-1 .fusion-countdown-link{color:#8bc34a}


#home_part_1 {
    text-align: center;
}
#home_part_1 h1{
    font-size: 45.362px;
    line-height: 63.506px;
    font-weight: 700;
}
#home_part_1 h3{
    font-weight: 700;
}
#home_part_1 p{
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
}

#home_part_2{
    text-align: center;
}

#home_ponentes{
    background: url('./../img/isaguy-night-background-2.jpg');
    background-size: contain;
    text-align-last: center;
}

#home_tuviaje{
    background-image: rgba(0,0,0,.5), url('./../img/hotel.jpg');
    background-image: linear-gradient(to right, rgba(0,0,0, .75), rgba(0,0,0, .75)), url('./../img/hotel.jpg');
    background-size: cover;
    text-align: center;
}
#home_tuviaje h4{
    padding-left: 15%;
    padding-right: 15%;
}




footer a:hover{
    text-decoration: none;
    color: #84BD00;
}

#tuviaje_hospedaje_img{
    background: url('./../img/hospedaje.jpg');
    background-size: cover;
    background-position: center center;
}

#tuviaje_parqueadero_img{
    background: url('./../img/parqueadero.png');
    background-size: cover;
    background-position: center center;
}
#tuviaje_alimentos_img{
    background: url('./../img/alimentos.jpg');
    background-size: cover;
    background-position: center center;
}
#tuviaje_transporte_img{
    background: url('./../img/transporte.jpg');
    background-size: cover;
    background-position: center center;
}

#voluntarios_1_img{
    background: url('./../img/voluntarios_1.jpg');
    background-size: cover;
    background-position: center center;
}
#voluntarios_2_img{
    background: url('./../img/voluntarios_2.jpg');
    background-size: cover;
    background-position: center center;
}
#voluntarios_3_img{
    background: url('./../img/voluntarios_3.jpg');
    background-size: cover;
    background-position: center center;
}

#enterateahora_top{
    padding: 15% 0px;
    background: url('./../img/enterateahora.jpg');
    background-image: linear-gradient(to right, rgba(0,0,0, .75), rgba(0,0,0, .75)), url('./../img/enterateahora.jpg');
    background-size: cover;
    background-position: center center;
    width: 100%;
    font-size: xx-large;
}
#enterateahora_content{
    padding: 0px 15%;
}

#enterateahora_content ul li.active{
    
    background: #84BD00;
}

.tablinks{
    border-radius: 0px;
}